

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    background-color: #403060;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }



.wrapper{
    width: 380px;
    height: 540px;
    padding: 25px;
    padding-top: 18px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 6px 15px #515c6f;
    border-radius: 15px;
    
}
.wrapper p{
    text-align: center;
    color: #515c6f;
}
.wrapper i{
    cursor: pointer;
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8.5rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #8069af;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #4e4649;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #add8e6;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }

.top-bar, .progress-area .timer, .controls, .music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.top-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.top-bar i{
    font-size: 30px;
    color: #403060;
}
.top-bar span{
    font-size: 18px;
    color: #515c6f;
}
.img-area{
    height: 256px;
    width: 100%;
    margin-top: 25px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 6px 15px #515c6f;
}
.img-area img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 10px 0;
}
.song-details .name{
    font-size: 21px;
}
.song-details .artist{
    font-size: 18px;
    opacity: 0.9;
}
.progress-area{
    height: 6px;
    width: 100%;
    background-color: #d4d7dd;
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #ff74a4 0%, #7d5fbb 100%);
    background-color: #403060;
}

.progress-area .timer{
    margin-top: 2px;
}
.timer span{
    font-size: 13px;
    color: #515c6f;
}
.controls{
    margin: 40px 0 5px 0;
}

.controls i{
    font-size: 24px;
    user-select: none;
    background: linear-gradient(90deg, #ff74a4 0%, #7d5fbb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),.controls i:nth-child(4){
    font-size: 27px;
}
.controls .play-pause{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-list{
    position: absolute;
    left: 105%;
    bottom: 430px;
    top: 0.8%;
/* opacity: 0; */
   /* display: none; */
    width: 300px;
    height: 545px;
    padding: 15px 30px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-out;
}

.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #515c6f;
}
.header{
    width: 346x;
    margin-left: 9px;
}
.header .row i{
    cursor: default;
    color: #403060;
}
.header .row span{
    margin-left: 5px;
}


.header #close{
    font-size: 22px;
    color: #403060;
}
.music-list ul{
    margin: 10px 0;
    max-height: 500px;
    overflow-y: auto;
}
.music-list ul::-webkit-scrollbar{
    width: 10px;

}
.music-list ul::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff74a4 0%, #7d5fbb 100%);
}
.music-list ul::-webkit-scrollbar-track{
    width: 10px;
    border-radius: 10px;
    background-color: #d5d7da;
}
 .row p{
    margin: 5px 0px;
}
.music-list ul li{
    cursor: pointer;
   list-style: none;
   color: #515c6f;
   padding-bottom: 7px;

   margin: 1px 10px;
   border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 17px;
}
ul li .row p{
    opacity: 0.9;
}
ul li .audio-duration{
    font-size: 16px;
}

.menu{
    /* position: absolute; */
    position: relative;
    bottom: 187px;
    right: 160px;
    opacity: 0;
    height: 195px;
    width: 130px;
    border-radius: 10%;
    
    padding: 5px 15px;
   
    background: rgb(255, 255, 255);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.35s ease-out;
}
.menu ul li a{
    padding: 3px 7px;
    font-size: 19px;
    text-decoration: none;
    color:#403060
   

}
.menu ul li i{
    color: #515c6f;
}
.menu ul li a:visited{
    color:#403060
}


.menu ul{
    padding: 1px;
}
.row2{
    margin-left: 13px;
    font-size: 15px;
    color:#403060
}
#close-2{
    position: relative;
    font-size: 29px;
    /* display: none; */
    color: #838891;
    left: 75%;
    bottom: 5%;
    cursor: pointer;
}
.menu ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
    color: #515c6f;
}

